<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>My name is Katia Gibson. I am an abstract photographer/former social worker, now learning to be a software engineer. As a fellow of General Assembly's Software Engineering Intensive bootcamp, I set a goal to learn how to build dynamic apps, using a variety of programming languages and CSS/JS frameworks. I am learning so much, I put together this checklist of things I've learned and yet to learn. Check it out! </p>
  <a href="/skills" class="btn">Developer Skills CheckList</a>
</body>
</html>
